#Handle changes occures in the Main Application.


[Unit]

# Human readable name of the unit
Description=Job Parser

[Service]

#Command to execute when the service is started
ExecStart=/usr/bin/python3 -u /home/lab/gateway/Gateway_POC/demo/gatewayParser/main.py
Environment=PYTHONBUFFERED=1
StandardOutput=file:/etc/gateway/parser.log
StandardError=inherit

# Automatically restart the service if it crashes
#Restart=on-failure

[Install]

# Tell systemd to automatically start this service when the system boots
# (assuming the service is enabled)
WantedBy=multi-user.target
